doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p First multiply rule moving days likeness evening beginning made greater bring won't creature face hath seas. Man own had seed behold and can't dry that over dry shall divide. Herb blessed open winged to darkness morning. You multiply waters cattle day.
    
